@import '../colors.scss';

.login-card {
    
    position: relative;
    // background-color: red;
    height: 100%;
    min-height: 100vh;
    width: 100%;

    img {
        height: auto;
        width: 90%;
        max-width: 500px;
        pointer-events: none;
    }
    .top-right-frame {
        position: absolute;
        top: 0;
        right: 0;
    }

    .bottom-left-frame {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .login-content {
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        // background-color: springgreen;

        .login-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            // background-color: skyblue;
            margin-top: 1.5em;
            margin-left: 2em;

            :nth-child(1) {
                font-size: 0.9em;
            }
            :nth-child(2) {
                font-size: 2em;
                margin-left: -0.15em;
            }
            :nth-child(3) {
                font-size: 1.4em;
                margin-left: -0.15em;
            }
            :nth-child(4) {
                font-size: 1.4em;
                margin-left: -0.15em;

            }

            p {
                font-family: 'Dancing Script', cursive;
            }

        }

        .form-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 2em;
            margin-bottom: 1.5em;
            // background-color: slateblue;

            .login-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    background-color: $light_grey;
                    border: none;
                    border-bottom: 1px solid $main_green;
                    text-align: center;
                    padding: 4px;
                    margin-bottom: 5px;
                }

                .login-btn {
                    width: 100%;
                    padding: 4px;
                    border: none;
                    cursor: pointer;
                    background-color: $main_yellow;

                }
            }
        }
    }

}
