@import '../colors.scss';

.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;

    .frame {
        height: auto;
        width: 54%;
        pointer-events: none;
        position: absolute;
        top: 0;
    }

    .frame-left {
        left: 0;
    }
    .frame-right {
        right: 0;    
    }

    .main-content {
        margin-top: 25%;
        width: 60%;
        text-align: center;
        font-size: 1.1em;

        .main-text, .main-text b, p {

            font-family: 'Dancing Script', cursive; 
        }
        .main-text {
            text-align: justify;
            text-align-last: center;
            margin-bottom: 0.5em;            
        
        }

        .small-flower {
            width: 50%;
            height: auto;
        }

        .button-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:first-child {
                font-size: 1.3em;
            }

            & > * {
                margin-bottom: 0.5em;
            }
            .buttons {
                width: 70%;
                button {
                    cursor: pointer;
                    width: 50%;
                    padding: 5px 0px;
                    border: none;
                    font-size: 1.1em;
                }
                .btn-yes {
                    background-color: $main_yellow;

                    &:hover {
                        background-color: $secondary_yellow;
                    }
                }
                .btn-no {
                    background-color: $main-red;

                    &:hover {
                        background-color: $secondary_red;
                    }
                }
            }

            p:last-child {
                font-size: 0.7em;
            }
                
        }
    }


    .jennifer-carlos {
        position: relative;
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0.5em;
    }

}
