$main_yellow: #fdcc6e;
$secondary_yellow: #f6b230;
$third_yellow: #fbe580;
$main_red: #f89988;
$secondary_red: #cf7262;
$main_brown: #C88509;
$main_green: #1b7931;
$secondary_green: #145d25;
$light_grey: #f2f2f2;
$mild_grey: #a0a0a0;
$strong_grey: #afafaf;